html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.conteneur {
    height: 100vh;
    background-image: url('../images/perroquet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1099px) {
    
    .conteneur2 {
        margin: auto;
        height: 35vh;
        width: 51%;
        position: relative;
        top: 35vh;
        text-align: center;
        /*border: 2px solid white;*/
        font-family: 'Roboto', sans-serif;
    }
    
    .nom {
        color: white;
        font-size: 40px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    
    #etude {
        margin-bottom: 40px;
        /* Create the gradient. */
        background-image: linear-gradient(45deg, #00afa6, #0042ad);
        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;
        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-size: 40px;
        font-weight: bold;
    }
    
    .accroche {
        color: white;
        font-size: 22px;
    }
    
    .conteneur2 .btn {
        margin-left: 10px;
        margin-top: 20px;
        border-radius: 0 !important;
        color: white !important;
        background-color: #00639c !important;
        animation: fadein 10s;
        -moz-animation: fadein 7s; /* Firefox */
        -webkit-animation: fadein 7s; /* Safari et Chrome */
        -o-animation: fadein 7s; /* Opera */
    }

    .mouse {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 37.5px;
        height: 60px;
        border: 2px solid white;
        background: linear-gradient(#00afa6, #0042ad);
        border-radius: 60px;
    }
    
    .mouse::before{
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 5px;
        background: white;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        opacity: 1;
        animation: mouse 2s infinite;
    }

    @keyframes mouse {
        from{
            opacity: 1;
            top: 15px;
        }
        to {
            opacity: 0;
            top: 40px;
        }
    }
}

@media screen and (max-width: 1100px) {
    
    .conteneur2 {
        margin: auto;
        height: 35vh;
        width: 80%;
        position: relative;
        top: 40vh;
        text-align: center;
        /*border: 2px solid white;*/
        font-family: 'Roboto', sans-serif;
    }
    
    .nom {
        color: white;
        font-size: 70px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    
    #etude {
        margin-bottom: 40px;
        /* Create the gradient. */
        background-image: linear-gradient(45deg, #00afa6, #0042ad);
        /* Set the background size and repeat properties. */
        background-size: 100%;
        background-repeat: repeat;
        /* Use the text as a mask for the background. */
        /* This will show the gradient as a text color rather than element bg. */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        font-size: 42.5px;
        font-weight: bold;
    }
    
    .accroche {
        color: white;
        font-size: 30px;
    }
    
    .conteneur2 .btn {
        font-size: 25px;
        margin-left: 10px;
        margin-top: 20px;
        border-radius: 0 !important;
        color: white !important;
        background-color: #00639c !important;
        animation: fadein 10s;
        -moz-animation: fadein 7s; /* Firefox */
        -webkit-animation: fadein 7s; /* Safari et Chrome */
        -o-animation: fadein 7s; /* Opera */
    }

    .mouse {
        position: absolute;
        top: 87.5%;
        left: 50%;
        width: 60px;
        height: 100px;
        border: 2px solid white;
        background: linear-gradient(#00afa6, #0042ad);
        border-radius: 60px;
    }
    
    .mouse::before{
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 5px;
        background: white;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        opacity: 1;
        animation: mouse 2s infinite;
    }

    @keyframes mouse {
        from{
            opacity: 1;
            top: 15px;
        }
        to {
            opacity: 0;
            top: 75px;
        }
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.navbar {
    position: relative !important;
}

#mainNav {
    background-color: #00639c !important;
}

.nav-item a{
    font-size: 16px;
    color: rgb(240, 240, 240) !important;
}


@media screen and (min-width: 1099px) { 

    .apropos {
        text-align: center;
        font-weight: bold;
        font-size: 42px;
        width: 50vh;
        margin: auto;
    }

}

@media screen and (max-width: 1100px) { 

    .apropos {
        text-align: center;
        font-weight: bold;
        font-size: 70px;
        width: 50vh;
        margin: auto;
    }
   
}

.conteneur3 {
    height: 94vh;
    background-color: rgb(240, 240, 240);
}

.titre {
    width: 50vh;
    position: relative;
    top: 12.5vh;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    /*border: 3px solid red;*/
}

@media screen and (min-width: 1099px) {

    .conteneur19 {
        height: 45vh;
        border: 2px solid red;
    }

    .techno {
        border: 1px solid black;
        width: 45%;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
        margin-top: 10%;
        float: left;
        padding: 10px;
    }
    
    .juridique {
        border: 1px solid black;
        width: 45%;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
        margin-top: 10%;
        float: right;
        padding: 10px;
    }
    
}

@media screen and (max-width: 1100px) {

    
    .conteneur19 {
        height: 57.5vh;
        width: 75%;
        margin: auto;
    }
 
    .techno {
        border: 1px solid black;
       
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
        margin-top: 10%;
        float: left;
        padding: 10px;
    }
    
    .juridique {
        border: 1px solid black;
      
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 24px;
        margin-top: 10%;
        float: right;
        padding: 10px;
    }

}

.conteneur20 {
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5%;
    padding: 10px;   
}

.conteneur20 p {
    padding: 35px;
    font-weight: 500;
}

.agri {
    width: 100%;
}

@media screen and (min-width: 1099px) {
    .conteneur4 {
        position: relative;
        top: 25vh;
        width: 100vh;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .presentation {
        font-family: Arial, serif;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .texte {
        margin-bottom: 35px;
    }

    .conteneur6 {
        width: 40%;
        background-image: url('../images/pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .conteneur5 {
           width: 55%;
           font-family: 'Roboto', sans-serif;
       }

    .bloque .btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #00639c !important;
    }
}

@media screen and (max-width: 1100px) {
    .conteneur4 {
        position: relative;
        top: 25vh;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .presentation {
        font-family: Arial, serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .texte {
        margin-bottom: 35px;
        font-size: 25px;
    }

    .conteneur6 {
        width: 35%;
        background-image: url('../images/pc.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .conteneur5 {
           width: 35%;
           font-family: 'Roboto', sans-serif;
       }

       .bloque .btn {
        border-radius: 0 !important;
        color: white !important;
        background-color: #00639c !important;
        font-size: 24px;
    }
}

footer {
    padding: 25px;
    text-align: center;
    color: white;
    background-color: rgb(36, 36, 36);
}

.curriculum a { 
    text-decoration:none; 
    color: white;
} 

.curriculum a:hover { 
    text-decoration:none; 
    color: white;
} 

.conteneur7 {
    height: 100vh;
    background-color: rgb(36, 36, 36);
}

@media screen and (min-width: 1099px) {
    .conteneur8 {
        margin: auto;
        padding-top: 12.5vh;
        width: 100vh;
        color: white;
        font-family: 'Arial', sans-serif;
    }

    .conteneur9 .conteneur8 h5 {
        font-size: 24px;
        margin-top: 65px;
        margin-bottom: 25px;
    }

    .conteneur11 {
        display: flex;
        justify-content: space-between;
    }

    .carousel {
        border: 3px solid #00639c;
        height: 47.5vh;
        width: 70vh;
    }
    
    .carousel-item img{
        height: 47.5vh;
        width: 100%;
    }

    table {
        width: 20vh !important;
    }

}

@media screen and (max-width: 1100px) {
    .conteneur8 {
        margin: auto;
        padding-top: 12.5vh;
        color: white;
        font-family: 'Arial', sans-serif;
    }

    .conteneur8 p {
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .conteneur9 .conteneur8 h5 {
        width: 75%;
        margin: auto;
        font-size: 35px;
        margin-top: 65px;
        margin-bottom: 25px;
    }

    .conteneur11 {
        display: flex;
        justify-content: space-evenly;
    }

    .carousel {
        border: 3px solid #00639c;
        height: 20vh;
        width: 25vh;
    }
    
    .carousel-item img{
        height: 20vh;
        width: 100%;
    }

}

.conteneur9 .conteneur8 h5 span {
    border-top: 2px solid rgb(240, 240, 240);
    padding-top: 5px;
}

.conteneur8 h2, .conteneur8 h5 {
    margin-bottom: 20px;
}

.conteneur7 .conteneur8 h5 {
   color: #00639c;
}

.conteneur8 h6 {
    margin-bottom: 40px;
}

input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input {
    width: 100% !important;
}

.text {
    color: #00639c;
}

.col-lg-2 .btn {
    margin-top: 5px;
    border-radius: 0 !important;
    color: white !important;
    background-color: #00639c !important;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
  }

@media screen and (min-width: 1099px) {
    .conteneur9 {
        height: 350vh;
        background-color: rgb(36, 36, 36);
        color: rgb(240, 240, 240);
    }
}

@media screen and (max-width: 1100px) {
.conteneur9 {
    height: 200vh;
    background-color: rgb(36, 36, 36);
    color: rgb(240, 240, 240);
}
}

.conteneur10 {
    height: 100vh;
    background-color: rgb(240, 240, 240);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300639c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300639c' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: #00639c !important;
}

.carousel-caption {
    color: #00639c !important;
}

.conteneur10 .conteneur8 h2{
    color: black;
}


.conteneur17 {
    height: 100vh;
    background-color: rgb(36, 36, 36);
}

#ancre
{
	color:white;
	text-decoration:none;
} 

@media screen and (min-width: 1099px) {
    .conteneur18 {
        margin: auto;
        padding-top: 12.5vh;
    /* height: 100vh;*/
        width: 100vh;
        color: white;
        font-family: 'Arial', sans-serif;
    }
}

@media screen and (max-width: 1100px) {
    .conteneur18 {
        margin: auto;
        padding-top: 12.5vh;
    /* height: 100vh;
        width: 100vh;*/
        color: white;
        font-family: 'Arial', sans-serif;
    }
}

.conteneur18 h2, .conteneur18 h5 {
    margin-bottom: 20px;
}

.conteneur17 .conteneur18 h5 {
   color: #00639c;
}

.conteneur18 h6 {
    margin-bottom: 40px;
}

@media screen and (min-width: 1099px) {
    .conteneur21 {
        position: relative;
        top: 10vh;
        width: 100vh;
        margin: auto;
    }
}

@media screen and (max-width: 1100px) {
    .conteneur21 {
        position: relative;
        top: 5vh;
        width: 75%;
        margin: auto;
    }
}

.conteneur21 p {
    padding: 15px 0 50px 0;
}

.conteneur21 hr {
    border: 1px solid white;
    width: 90%;
    margin-left:0;
}

@media screen and (min-width: 1099px) {
    .conteneur22 {
        position: relative;
        top: 15vh;
        width: 100vh;
        margin: auto;
    }
}

@media screen and (max-width: 1100px) {
    .conteneur22 {
        position: relative;
        top: 10vh;
        margin: auto;
        width: 75%;
    }
}

.conteneur22 p {
    padding: 15px 0 50px 0;
}

.conteneur22 h5 {
    font-size: 24px;
    margin-top: 65px;
    margin-bottom: 25px;
}


@media screen and (min-width: 1099px) {
    .conteneur23 {
        position: relative;
        top: 25vh;
        width: 100vh;
        margin: auto;
    }
}

@media screen and (max-width: 1100px) {
    .conteneur23 {
        width: 75%;
        position: relative;
        top: 15vh;
        margin: auto;
    }
}

.conteneur23 p {
    padding: 15px 0 50px 0;
}